<div class="container">
    <!-- <h2 class="text-center m-4">Login as</h2> -->
    <div class="text-center">
        <button routerLink="login" type="button" class="btn btn-primary m-4">Login</button>
        <button routerLink="register" type="button" class="btn btn-primary m-4">Register</button>
        <!-- <br><br><br><br>
        <button class="productPage" *ngIf="logcheck()" (click)="goToProductSearch()"> Go to Product Search</button>
        <br><br><br><br> -->
    </div>
    <div class="text-center">
        <!-- <img src="assets/undraw_empty_cart_co35.svg" alt=""> -->
        <img src="assets/7345.jpg" alt="">
    </div>
</div>
